<div class="row">
	<div class="col-md-12">
		<div class="text-center">
			<h1>We are dedicated to increasing your restaurants revenue</h1>
		</div>
	</div>
</div>


<div class="row" style="margin-top: 90px;">
	<div class="col-md-6">
		<img src="http://placehold.it/450x150" class="img-responsive">
		<h4>Customized Online Ordering Apps </h4>
		<p>Your restaurant is its own brand. It deserves its own app.</p>
	</div>
	<div class="col-md-6">
		<img src="http://placehold.it/450x150" class="img-responsive">
		<h4>Targeted Marketing</h4>
		<p>We help you farm your delivery area to get your app adopted and used by customers.</p>
	</div>
</div>

<div class="row text-center" style="margin-top: 90px;">
	<h4>Get More Repetitive Orders</h4>
	<iframe width="820" height="515" src="https://www.youtube.com/embed/XQu8TTBmGhA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="well well-lg">
			<h4>We have lots of experience making apps, and we do it really well. That’s a guarantee.</h4>
			<p>Even if you don’t personally use apps yourself, your restaurant deserves to. </p>
			<p>Phone orders are silly. Let us agree on that?</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="well well-lg">
			<h5>Your restaurant receives orders on a tablet like this.</h5>
			<p>Each order that comes in is… well
			how do I describe this- …is
			Amazing!
			The alternative is not receiving
			orders. Just imagine this empty.
			Click here, we clear it out.</p>
		</div>	
	</div>
	<div class="col-md-6">
		<div class="well well-lg">
			<ul>
				<li>Order 1. Burgers and fries</li>
				<li>Order 2. Burgers and fries</li>
				<li>Order 3. Burgers and fries</li>
				<li>Order 4. Burgers and fries</li>
				<li>Order 5. Burgers and fries</li>
				<li>Order 6. Burgers and fries</li>
				<li>Order 7. Burgers and fries</li>
				<li>Order 8. Burgers and fries</li>
				<li>Order 9. Burgers and fries</li>
				<li>Order 10. Burgers and fries</li>
				<li>Order 11. Burgers and fries</li>
				<li>Order 12. Burgers and fries</li>
				<li>Order 13. Burgers and fries</li>
				<li>Order 14. Burgers and fries</li>
				<li>Order 15. Burgers and fries</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h5>We have an incredible team of technologists</h5>
		<h5>as well as marketing professionals</h5>
		<h5>ready to take your restaurant to the next level.</h5>
	</div>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a href="#" class="btn btn-primary btn-lg">Request a Demo</a>
		<p>or call</p>
		<p>+1 866 123 1234</p>
	</div>
</div>