<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h5>Every plan comes with a customized online ordering app for your restaurant and a targeted marketing plan to increase app adoption.</h5>
	</div>
</div>

<div class="row" style="margin-top: 30px;">
	<div class="col-md-6 text-center">
		<h6>Customized App with CMR</h6>
		<p>$199/mo</p>
	</div>
	<div class="col-md-6 text-center">
		<h6>Marketing Services</h6>
		<p>$149/mo</p>
	</div>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h5>Our Promises:</h5>
		<p>To make your restaurant better.</p>
		<p>To give your restaurant technology it deserves.</p>
		<p>To make your potential customers adopt this technology</p>
	</div>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<h5>Questions:</h5>
		<p><strong>Can I cancel at any time?</strong><br>
		Of course. We have a very simple “off-boarding” process.</p>
		<p><strong>Why do I need your marketing services?</strong><br>
		So we get hungry customers in your delivery zone aware that you and your app exist.
		And persuade them to use your app and order from you.</p>
	</div>
</div>

<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a href="#" class="btn btn-primary btn-lg">Request a Demo</a>
		<p>or call</p>
		<p>+1 866 123 1234</p>
	</div>
</div>





