<div class="row">
	<h2>Ok you joined a directory style app...</h2>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>Seems like a good idea until you realize you’re listed next to many, like a lot, ok like a ton of competitors and you don’t get the order volume you expected.</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>So you get some orders, but then you have to pay a huge chuck of your margin. Margins are already thin, this really hurts</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>You conclude that this style of apps is ineffective for your restaurant.</h6>
		</div>
	</div>
</div>

<div class="row">
	<h2>So then you thought you should make your own app...</h2>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>Your own apps gets customers thinking about your brand exclusively. In addition, no fees to pay when orders come in. This seems great. Very exciting</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>So you get some orders, but then you have to pay a huge chuck of your margin. Margins are already thin, this really hurts</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>Finally you have your app. It took longer than you wanted and cost much more than you anticipated. Is there any money left over to market your app? After all your customers have to use it. At least now you know what bugs are. Are those dealt with by the way?</h6>
		</div>
	</div>
</div>

<div class="row">
	<h2>Now imagine you came to Apps for Appetites instead...</h2>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>We have already build an amazing and robust platform. We can easily customize the app for your restaurant and empower your brand. Plus we make it affordable.</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>Within 2 weeks your app is live and running. You are now working directly with your customers accepting orders.</h6>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well well-lg">
			<h6>Next we get you app adopted. Our specialists develop a target marketing strategy that works. This is just as important as the app so we treat it this way. You’re going to enjoy being connected to your customers</h6>
		</div>
	</div>
</div>


<div class="row" style="margin-top: 90px;">
	<div class="col-md-6 col-md-offset-3 text-center">
		<a href="#" class="btn btn-primary btn-lg">Request a Demo</a>
		<p>or call</p>
		<p>+1 866 123 1234</p>
	</div>
</div>






